





  <div class="card-body">
  <hr>
    
    <h5 class="card-title"><%= product.name %></h5>
  

    <h6 class="card-subtitle mb-2 text-muted"><%= product.model %></h6>

    <h6 class="card-subtitle mb-2 text-muted">$<%= product.cost %></h6>
  
   </div>

